*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    width: 100%;
    max-width: 100vw;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #dbe5fa;
    width: 100%;
    max-width: 100vw;
}

a{
    color: #222326;
    text-decoration: none;
}

.header-nav{
    max-width: 100%;
    flex: 0 0 auto;
    color: #222326;
    height: 0;
    display: block;
    align-items: center;
    margin: 0 auto;
}

.hamburguer{
    color: #dbe5fa;
    display: none;
}

.container{
    color: #222326;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0% 3%;
    position: fixed;
    background: linear-gradient(rgba(0,0,0,1), transparent);
    z-index: 999;
}

.navlink{
    height: 50px;
    margin: 0 1rem;
}

.header-menu{
    flex: 0 0 auto;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.navlink1{
    transition: 0.2s ease-in-out;
    margin: 0.5rem 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: -0.025rem;
    border-bottom: 3px solid transparent;
    color: #dbe5fa;
}

.navlink1:hover{
    border-bottom: 3px solid #dbe5fa;
}

.section2,.section3,.section4,.section5{
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10%;
    background-color: rgb(92, 110, 131);
    font-size: 30px;
}
.section1{
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 10%;
    background-color: rgb(92, 110, 131);
    font-size: 30px;
}

.main-heading{
    display: flex;
    flex-direction: column;
    align-items: left;
    z-index: 2;
    font-size: 30px;
}

.heading1{
    font-size: 60px;
    font-weight: 400;
    z-index: 2;
}

.img1{
    height: 800px;
    max-height: 80vh;
    width: auto;
    -webkit-filter: drop-shadow(5px 10px 20px #222);
    filter: drop-shadow(5px 15px 10px #222);
    position: absolute;
    top: 12%;
    left: 60%;
    z-index: 0;
}

.scrolldown{
    position: absolute;
    top: 90%;
    left: 50%;
    width: 30px;
    height: 50px;
    margin-left: 30px / 2;
    border: calc(30px / 10) solid #fff;
    border-radius: 50px;
    box-sizing: border-box;
    margin-bottom: 16px;
    cursor: pointer;    
}

.scrolldown::before{
    content: "";
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    animation: scrolldown-anim 2s infinite;
    box-sizing: border-box;
    box-shadow: 0px -5px 3px 1px #c1c1c100;
}

@keyframes scrolldown-anim{
    0%{
        opacity: 0;
        height: 6px;
    }

    40%{
        opacity: 1;
        height: 10px;
    }

    80%{
        opacity: 0;
        height: 10px;
        transform: translate(0, 20px);
    }

    100%{
        opacity: 0;
        height: 3px;
    }
}

.section-text5{
    width: 100%;
    max-width: 100%;
    justify-content: left;
    padding: 0%;
    align-items: center;
}

.icons{
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-around;
    margin: 0 auto;
    -webkit-filter: drop-shadow(5px 10px 20px #222);
    filter: drop-shadow(5px 15px 10px #222);
}

.zapicon{
    height: 200px;
    width: auto;
}

.mailicon{
    height: 200px;
    width: auto;
}

.instaicon{
    height: 180px;
    width: auto;
}

.phoneicon{
    height: 200px;
    width: auto;
}

.inicon{
    height: 220px;
    width: auto;
}

@media(max-width: 1230px){

    .hamburguer{
        display: block;
        z-index: 999;
    }

    .header-menu{
        position: fixed;
        top: 0%;
        right: -100%;

        height: 100vh;
        margin: 0;
        background-color: #222326;

        width: 100%;
        max-width: 250px;

        padding: 100px 20px;

        flex-direction: column;

        transition: 0.5s ease;
    }

    .header-menu.active{
        right: 0%;
    } 

    .section1{
        width: 100%;
        max-width: 100%;
        min-height: 100vh;
        padding: 10%;
        background-color: rgb(92, 110, 131);
        font-size: 30px;
    }
    
    .main-heading{
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 2;
        font-size: 15px;
    }
    
    .heading1{
        max-width: 80vw;
        font-size: 30px;
        font-weight: 400;
        z-index: 2;
    }
    
    .img1{
        height: 400px;
        width: auto;
        max-height: 40%;
        -webkit-filter: drop-shadow(5px 10px 20px #222);
        filter: drop-shadow(5px 15px 10px #222);
        z-index: 0;
        position:initial;
        order: 1;
    }

    .home{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    
    .section2, .section2, .section3, .section4, .section5{
        justify-content: center;
    }

    .scrolldown{
        position: absolute;
        top: 90%;
        margin: 0 auto;
        width: 30px;
        height: 50px;
        margin-left: 30px / 2;
        border: calc(30px / 10) solid #fff;
        border-radius: 7px;
        box-sizing: border-box;
        margin-bottom: 16px;
        cursor: pointer;    
    }

    .scrolldown::before{
        content: "";
        position: absolute;
        top: 35px;
        bottom: 30px;
        left: 50%;
        width: 6px;
        height: 6px;
        margin-left: -3px;
        background-color: #fff;
        border-radius: 100%;
        animation: scrolldown-anim 2s infinite;
        box-sizing: border-box;
        box-shadow: 0px -5px 3px 1px #c1c1c100;
    }

    @keyframes scrolldown-anim{
        0%{
            opacity: 0;
            height: 6px;
        }
    
        40%{
            opacity: 1;
            height: 10px;
        }
    
        80%{
            opacity: 0;
            height: 10px;
            transform: translate(0, -30px);
        }
    
        100%{
            opacity: 0;
            height: 3px;
        }
    }

    .zapicon{
        height: 50px;
        width: auto;
    }
    
    .zapicon:hover{
        height: 55px;
        width: auto;
        filter: brightness(120%);
    }

    .mailicon{
        height: 50px;
        width: auto;
    }
    .mailicon:hover{
        height: 55px;
        width: auto;
        filter: brightness(120%);
    }
    
    .instaicon{
        height: 45px;
        width: auto;
    }
    .instaicon:hover{
        height: 50px;
        width: auto;
        filter: brightness(120%);
    }
    
    .phoneicon{
        height: 50px;
        width: auto;
    }
    .phoneicon:hover{
        height: 55px;
        width: auto;
        filter: brightness(120%);
    }


    
    .inicon{
        height: 55px;
        width: auto;
    }
    .inicon:hover{
        height: 60px;
        width: auto;
        filter: brightness(120%);
    }

    .icons{
        -webkit-filter: drop-shadow(5px 10px 20px #222);
        filter: drop-shadow(5px 15px 10px #222);
    }
    
}